@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
    width: 850px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    position: relative;
}

.main-pix:not([src="../global-images/mr-ballon-logo.png"]) {
    width: 100%;
	height: 380px;
	object-fit: contain;
    background-color: #d3e8eb;
}


[src="../global-images/mr-ballon-logo.png"] {
    position: absolute;
    width: 245px;
    margin: 15px 30px;
}

.pagebreak { 
    page-break-before: always;
}

header {
    min-height: 674px;
}

header > br {
    display: none;
}

header > p:first-of-type {
    margin-top: 10px;
}

header > p,
header > dl {
    padding: 0 30px;
}

header > ul {
    padding: 0 60px;
    width: 190px;
    margin-bottom: 20px;
}

h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 30px 40px;

    max-height: 31px;
    font-size: 20px;
    text-align: end;

    color: white;
    background-color: #396f76;
}

h1 span {
    font-size: 18px;
    font-weight: 500;
}


h2 {
    /* margin-top: 100px; */
    padding-top: 60px;
}

aside {
    margin-top: 15px;
    float: right;
    width: 370px;
}

aside > * {
    padding: 0 20px;
}

#cc-logo {
    margin-top: 5px;
}

p { margin: 0; }

aside p {
    line-height: 18px;
    font-size: 11px;
    color: #787878;
}

dl {
    position: absolute;
    top: 473px;
    left: 230px;
}

dt {
    margin-bottom: 13px;
}

.pagebreak + p > strong {
    display: block;
    page-break-inside: avoid;
    padding: 40px 0 0;
}

main > p:first-child {
	position: relative;
    padding: 20px 40px 20px 200px;
    margin-bottom: 20px;
	color: #317E8B;
	background-color: #D3E8EB;
}

main > p:first-child:before {
	position: absolute;
	content: "";
    top: 31px;
    left: 65px;
	width: 50px;
	height: 50px;
	background: url("../global-images/play-icon.svg");
    background-position: 55% 51%;
	background-repeat: no-repeat;
	background-color: #A3CFD6;
	border-radius: 100%;
}

main > p:nth-child(n+2) {
    padding: 0 80px;
    margin-bottom: 10px;
}

main > p:last-of-type {
    margin-bottom: 20px;
}

aside img {
    float: left;
    width: 155px;
    border-radius: 2px;
}

section {
    display: flex;
    gap: 30px;

    margin: 0px 50px;
	page-break-inside: avoid;
}

figure {
    margin: 0;
    width: 100%;
}

figure img {
    width: 100%;
    max-height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 50px;
}

figcaption {
    padding: 0 20px;
}

#lastpix {
    width: 70%;
    margin: auto;
}

#lastpix img {
    margin-top: 50px;
    max-height: unset;
}


main > ul {
	width: 550px;
    margin: auto;
}

a { color: #396f76 !important; }

main > ul li,
main > ul a {
	margin-bottom: 10px;
}
