@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

html, body {
    width: 850px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}

.main-pix:not([alt="Le logo de Môssieur Ballon"]) {
    width: 100%;
	height: 566px;
	object-fit: cover;
}


[alt="Le logo de Môssieur Ballon"] {
    width: 300px;
    margin: 20px auto;
    order: 2;
}

header {
    display: flex;
    flex-direction: column;
    height: 1190px;
}

.pagebreak{ 
    page-break-before: always;
}



header > p:first-of-type {
    margin-top: 30px;
}

header > p,
header > dl {
    padding: 0 90px;
}

header > ul {
    padding: 0 130px;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 30px;
    background-color: #396f76;
    color: white;
}

aside {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-bottom: 10px;

    order: 2;
    flex-grow: 2;

	page-break-inside: avoid;
	page-break-after: always;
}

aside > * {
    padding: 0 20px;
}

p { margin: 0; }

aside p {
    line-height: 20px;
    font-size: 10px;
    color: #787878;
}

main > p:first-child {
	position: relative;
    padding: 30px 40px 30px 200px;
    margin: 80px 0;
	color: #317E8B;
	background-color: #D3E8EB;
}

main > p:first-child:before {
	position: absolute;
	content: "";
    top: 40px;
    left: 65px;
	width: 50px;
	height: 50px;
	background: url("../global-images/play-icon.svg");
    background-position: 55% 51%;
	background-repeat: no-repeat;
	border-radius: 100%;
	background-color: #A3CFD6;
}

main > p:nth-child(n+2) {
    padding: 0 80px;
    margin-bottom: 20px;
}

main > p:last-of-type {
    margin-bottom: 70px;
}

aside img {
    width: 160px;
    margin-bottom: 11px;
    border-radius: 2px;
}

section {
    display: flex;
    gap: 30px;

    margin: 0px 50px;
	page-break-inside: avoid;
}

figure {
    margin: 0;
    width: 100%;
}

figure img {
    width: 100%;
    max-height: 134px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 50px;
}

figcaption {
    padding: 0 20px;
}

#lastpix img {
    margin-top: 50px;
    max-height: unset;
}


main > ul {
	width: 550px;
    margin: auto;
}

main > ul li,
main > ul a {
	color: #396f76 !important;
	margin-bottom: 10px;
}