@import url("main.css") print;

@page{
	size: A4;
}

@media print{
	h1{
		font-size: 18pt;
	}
	aside{
		font-size: 8pt;
	}
	.main-pix{
		margin: 10px auto;
	}
	.pagebreak{ 
		page-break-before: always;
	}
	body{
		font-size: 9.5pt;
	}
	main{
		width: 90%;
	}
	#cc-logo{
		width: 30%;
	}
	h2, h3 {
	  page-break-after: avoid;
	}
}
